<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ourapps.scribefinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true">
        <activity
            android:name=".LogoSplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".TypeOfUser"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".NeedyRegister"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".VolunteerRegister"
            android:parentActivityName=".TypeOfUser"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerMainPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NeedyPasswordChange"
            android:launchMode="singleTask"
            android:parentActivityName=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ScribeSearchPage"
            android:parentActivityName=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".DisplaySearchedVolunteers"
            android:parentActivityName=".ScribeSearchPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".DisplaySingleScribeDetails"
            android:parentActivityName=".DisplaySearchedVolunteers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NeedyProfileEdit"
            android:parentActivityName=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerProfileEdit"
            android:parentActivityName=".VolunteerMainPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VolunteerPasswordChange"
            android:launchMode="singleTask"
            android:parentActivityName=".VolunteerMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".StudyMaterials.NotesBA$StudyMaterial"
            android:parentActivityName=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".StudyMaterials.NotesBA"
            android:parentActivityName=".StudyMaterials.NotesBA$StudyMaterial"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".StudyMaterials.BANotes.BA1stSem"
            android:parentActivityName=".StudyMaterials.NotesBA"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".StudyMaterials.BANotes.BA1stSemEconomics"
            android:parentActivityName=".StudyMaterials.BANotes.BA1stSem"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".UploadNotes"
            android:parentActivityName=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ViewUploadsActivity"
            android:parentActivityName=".NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ContactUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instruction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".internetConnection"></activity>
    </application>

</manifest>