<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ourapps.scribefinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true">
        <activity
            android:name=".SplashScreenNew"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory = "true"/>
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".TypeOfUser"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".needy.NeedyRegister"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".volunteer.VolunteerRegister"
            android:parentActivityName=".TypeOfUser"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory = "true"/>
        <activity
            android:name=".volunteer.VolunteerMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory = "true"/>
        <activity
            android:name=".needy.NeedyPasswordChange"
            android:launchMode="singleTask"
            android:parentActivityName=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".needy.ScribeSearchPage"
            android:parentActivityName=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".needy.DisplaySearchedVolunteers"
            android:parentActivityName=".needy.ScribeSearchPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".needy.DisplaySingleScribeDetails"
            android:parentActivityName=".needy.DisplaySearchedVolunteers"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".needy.NeedyProfileEdit"
            android:parentActivityName=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".volunteer.VolunteerProfileEdit"
            android:parentActivityName=".volunteer.VolunteerMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".volunteer.VolunteerPasswordChange"
            android:launchMode="singleTask"
            android:parentActivityName=".volunteer.VolunteerMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.NotesBA$StudyMaterial"
            android:parentActivityName=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.NotesBA"
            android:parentActivityName=".studymaterials.NotesBA$StudyMaterial"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.ba_notes.BA1stSem"
            android:parentActivityName=".studymaterials.NotesBA"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.ba_notes.BA2ndSem"
            android:parentActivityName=".studymaterials.NotesBA"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.ba_notes.BA3rdSem"
            android:parentActivityName=".studymaterials.NotesBA"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.ba_notes.BA4thSem"
            android:parentActivityName=".studymaterials.NotesBA"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.ba_notes.BA5thSem"
            android:parentActivityName=".studymaterials.NotesBA"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".studymaterials.ba_notes.BA1stSemEconomics"
            android:parentActivityName=".studymaterials.ba_notes.BA1stSem"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".UploadNotes"
            android:parentActivityName=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ViewUploads"
            android:parentActivityName=".needy.NeedyMainPage"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Instruction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InternetConnection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA1stSemEnglsih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA1stSemEPH"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA1stSemHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA2ndSemHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA4thSemEconomics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA5thSemCorporate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".studymaterials.ba_notes.BA5thSemRural"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>